<nav class="bg-pink-600 p-4">
    <ul class="flex space-x-6 justify-center">
      <li><a href="home" class="text-white hover:text-pink-200">Inicio</a></li>
      <li><a href="timeline" class="text-white hover:text-pink-200">Nuestra Historia</a></li>
      <li><a href="gallery" class="text-white hover:text-pink-200">Galería</a></li>
      <li><a href="mensaje" class="text-white hover:text-pink-200">Mensaje</a></li>
      <li><a href="musica" class="text-white hover:text-pink-200">Música</a></li>
      <li><a href="calendario" class="text-white hover:text-pink-200">Calendario</a></li>
      <li><a href="proposicion" class="text-white hover:text-pink-200">Proposición</a></li>
    </ul>
  </nav>